.table {
  tr {
    th,
    td {
      padding-bottom: 0;
    }
  }
}

.accreditedRecord {
  span {
    display: inline-block;
    &:last-child {
      margin-left: 20px;
    }
  }
}

.button {
  font-size: 12px;
}

.operations {
  a {
    margin-right: 10px;
  }
  Link {
    margin-right: 10px;
  }
}