<div class="tc-service-promise">

  <div class="container">
    <h3>—服务承诺—</h3>
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag "common/promise-xin.png" %>
        <h4>车况靠谱</h4>
        <p>无泡水大事故火烧，不调里程表</p>
      </div>
      <div class="col-xs-4">
        <%= image_tag "common/promise-tui.png" %>
        <h4>车源放心</h4>
        <p>购车后15天包退换</p>
      </div>
      <div class="col-xs-4">
        <%= image_tag "common/promise-bao.png" %>
        <h4>售后无忧</h4>
        <p>全车10大件不计里程质保</p>
      </div>
    </div>
  </div>
</div>
