<div class="modal fade" id="wechatPayModal" tabindex="-1" role="dialog" aria-labelledby="微信扫码付款">
  <div class="modal-dialog wechat-pay-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body clearfix">
        <input id="pay_token" type="hidden" value="">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="title">微信扫码付款</div>
        <div id="qrcode_pay"></div>
      </div>
    </div>
  </div>
</div>
