---
http_interactions:
- request:
    method: post
    uri: https://api.weixin.qq.com/cgi-bin/component/api_component_token
    body:
      encoding: UTF-8
      string: '{"component_appid":"wxefe9e45b217bc492","component_appsecret":"ae3cab8e1cabbe462e537b6335d40fc3","component_verify_ticket":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; encoding=utf-8
    body:
      encoding: UTF-8
      string: '{"errcode":61006,"errmsg":"component ticket is invalid hint: [yPJlkA0896vr20]"}'
  recorded_at: Tue, 08 Dec 2015 10:18:16 GMT
- request:
    method: post
    uri: https://api.weixin.qq.com/cgi-bin/component/api_authorizer_token?component_access_token=
    body:
      encoding: UTF-8
      string: '{"component_appid":"wxefe9e45b217bc492","authorizer_appid":"wxbe6ec1b410f661f2","authorizer_refresh_token":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; encoding=utf-8
    body:
      encoding: UTF-8
      string: '{"errcode":41001,"errmsg":"access_token missing hint: [CIXQCa0896vr21]"}'
  recorded_at: Tue, 08 Dec 2015 10:18:16 GMT
recorded_with: VCR 3.0.0
