<div class="tc-car-important-configuration white-background">
  <div class="item-title">
    <%= image_tag "mobile/car_detail/title.png"%>
    <span>卖点描述</span>
  </div>

  <div class="divider"></div>

  <div class="tc-bargin-note-body">
    价格直降1万，买就送一年保养，养车无忧！全款买还送5000元油卡！并可享受一年售后VIP服务，不限次数洗车。同时购买保险，还可享受折扣优惠。透明车况，有维修保养保险报告可查，绝对买到就是赚到！
  </div>
</div>
