<div class="tc-cars-go-home">
  <div class="tc-cars-go-home-text">
    还有更多优质车源在等您哦！
  </div>
  <div class="index-go-home">
    <%= link_to "去微店看看", root_url(seller_id: @seller.try(:id)) %>
  </div>
</div>
