<div class="tc-toolbar">
  <div class="search-and-layout">
    <div class="search">
      <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form">
          <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索车辆" required="">
            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
          </div>
          <label class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>搜索车辆</span>
          </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
        <div class="list-grid-toggle"><div class="toggle-icon list-icon"></div></div>
      </div>
    </div>
  </div>

  <div class="filters clearfix">
    <div class="filter-item order">
      <span>排序</span>
      <span class="down-arrow">
        <i class="fa fa-caret-down down-arrow-img"></i>
        <i class="fa fa-caret-up down-arrow-img"></i>
      </span>
    </div>
    <div class="filter-item brand">
      <span>品牌</span>
      <span class="down-arrow">
        <i class="fa fa-caret-down down-arrow-img"></i>
        <i class="fa fa-caret-up down-arrow-img"></i>
      </span>
    </div>
    <div class="filter-item price">
      <span>价格</span>
      <span class="down-arrow">
        <i class="fa fa-caret-down down-arrow-img"></i>
        <i class="fa fa-caret-up down-arrow-img"></i>
      </span>
    </div>
  </div>
</div>
