<% @without_menu = true %>
<div class="previous_url" style="display: none;"><%= @previous_url %></div>
<div class="tc-pay-page">
  <p id="pay-data" data-redirect="<%= @url %>" data-token=<%= @token %>>自动跳转到微信支付...</p>
</div>
