<% content_for :content_header  do %>
  <section class="content-header">
    <h1>编辑广告</h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i>首页</a></li>
      <li><%= link_to "广告", admin_advertisements_path %></li>
      <li class="active">编辑</li>
    </ol>
  </section>
<% end %>

<%= render 'form' %>
