.sub-site {
  margin-bottom: 10px;

  label {
    float: right;
    line-height: 34px;
    vertical-align: middle;
  }
}

.site-company-query {
  margin-bottom: 20px;
}

.btn-sub-page-back {
  margin: 0 10px;
}

.tc-dashboard-icon-img {
  width: 48px;
  height: 48px;
}

.tc-dashboard-logo-img {
  width: 238px;
  height: 50px;
}
