<div class="footer">
  <div class="info-wrapper">
    <div class="info">
      <div class="box">
        <div class="item title">车来客客服</div>
        <div class="qrcodes">
          <div class="qrcode">
            <div class="image">
              <img src="/assets/images/customer_service_contact.jpeg" />
            </div>
            <div class="text">
              负责人微信号
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="item title">资源合作联系</div>
        <div class="qrcodes">
          <div class="qrcode">
            <div class="image">
              <img src="/assets/images/corporation_contact.jpeg" />
            </div>
            <div class="text">
              负责人微信号
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="download">
          <div class="app">
            <div class="item title">扫码下载APP</div>
            <div class="image">
              <img src="/assets/images/app.png" />
            </div>
          </div>
          <div class="pc">
            <div class="item title">使用电脑版</div>
            <div class="image">
              <a href="http://pc.chelaike.com" target="_blank">
                <img src="/assets/images/pc.png" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="item title">关于我们</div>
      </div>

    </div>
  </div>

  <div class="copyright-wrapper">
    <div class="copyright">
      © 2016 chelaike.com 浙ICP备15033244号 杭州天车网络科技有限公司版权所有
    </div>
  </div>
</div>
