<div class="hero-wrapper">
  <div class="hero">
    <div class="download">
      <div class="app">
        <div class="title">扫码下载APP</div>
        <div class="image">
          <img width="80" src="/assets/images/app.png" />
        </div>
      </div>
      <div class="pc">
        <div class="title">使用电脑版</div>
        <div class="image">
          <img width="80" src="/assets/images/pc.png" />
        </div>
      </div>
    </div>
    <div class="tips">
      <p>苹果手机安装后提示没有授信？<a href="/help">使用帮助</a></p>
    </div>
  </div>
</div>
