<div class="nav">
  <div class="logo">
    <a href="/">
      <img src="/assets/images/logo.png" alt="logo" />
    </a>
  </div>
  <ul class="menu">
    <li class="{{ include.home }}">
      <a href="/">首页</a>
    </li>
    <li class="{{ include.chelaike }}">
      <a href="/chelaike.html">车来客</a>
    </li>
    <li class="{{ include.alliance }}">
      <a href="/alliance.html">联盟运营</a>
    </li>
    <li class="{{ include.corporation }}">
      <a href="/corporation.html">资源合作</a>
    </li>
    <li class="{{ include.team }}">
      <a href="/team.html">团队风采</a>
    </li>
  </ul>
</div>
