---
http_interactions:
- request:
    method: post
    uri: http://api.lsj001.com/a/OrderByVin
    body:
      encoding: UTF-8
      string: Vin=LJDGAA228E0410969&EngineNumber=E1022420&IDNumber=440105198803260025&CallbackUrl=http://prime.lina.che3bao.com:7878/api/v1/old_driver/notify&UserID=35&UserToken=a973e619-0e9a-4890-bc97-87ac4f471646&TimeStamp=20170308175730000&AppSign=23c405199d0ac2daa3ad83583934a2d8
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Data":2174,"Version":"1.0.0","Success":true,"Code":200,"Message":"OK"}'
  recorded_at: Wed, 08 Mar 2017 09:57:30 GMT
recorded_with: VCR 3.0.1
