<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="微信扫码登录">
  <div class="modal-dialog wechat-pay-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body clearfix">
        <input id="token" type="hidden" value="">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">微信扫码登录</div>
        <div id="qrcode"></div>
      </div>
    </div>
  </div>
</div>
