.form {
  margin-left: 18px;
}

.group {
  margin-bottom: 10px;
  padding-left: 15px;
}

.addButton {
  margin-left: 14px;
  margin-right: 20px;
}

.formPanel {
  border-top: 1px solid #E9E9E9;
  display: inline-block;
  width: 100%;
  margin: 15px 0 0 13px;
  position: relative;
  padding: 30px 0 0 0;
}

.formPanelTitle {
  position: absolute;
  top: -11px;
  padding: 1px 10px;
  color: #777;
  border-radius: 6px;
  background: #fff;
  font-size: 14px;
  margin-left: 15px;
  font-weight: bold;
}

.additionalBottoMargin {
  margin-bottom: 30px;
}

.featuresButton {
  margin-top: 15px;
}

.publisersRow {
  margin: 20px 0 0 90px;
}

.attachments {
  span{
    label {
      margin-right: 6px;
    }
  }
  :global(.ant-checkbox-group-item) {
    width: 120px;
  }
  :global(.ant-checkbox-wrapper + .ant-checkbox-wrapper) {
    margin-left: 0px;
  }
}
