<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html alliance="active" %}

<div id="alliance">
  <div class="hero">
    <img src="/assets/images/alliance/hero.png" />
  </div>

  <div class="features-wrapper">
    <div class="features">
      <div class="feature">
        <div class="box text left">
          <h2>
            <span>打造联盟品牌</span>
            <span class="highlight">实现消费升级</span>
          </h2>
          <ul>
            <li>透明车况保证</li>
            <li>统一消费承诺</li>
            <li>联盟保证金先行赔付</li>
            <li>店面 VI 形象统一</li>
          </ul>

          <h2><span class="highlight">车来客服务</span></h2>

          <ul>
            <li>代为组建团队，统一管理联盟运营（合作方式）</li>
            <li>统一打造宣传品牌，实现车商自有品牌（合作方式）</li>
            <li>统一实现消费体验升级，提升消费者认可和收入（合作方式）</li>
          </ul>
        </div>

        <div class="box image right">
          <img src="/assets/images/alliance/feature1.png" />
        </div>
      </div>

      <div class="feature">
        <div class="box image left">
          <img src="/assets/images/alliance/feature2.png" />
        </div>

        <div class="box text right">
          <h2>
            <span>车源共同销售</span>
            <span class="highlight">提升库存周转</span>
          </h2>
          <ul>
            <li>联盟库存信息共享</li>
            <li>库存触摸屏统一展示</li>
            <li>联盟车源客源实时对接</li>
          </ul>

          <h2><span class="highlight">车来客服务</span></h2>

          <ul>
            <li>提供触摸屏软件（收费），合并展示联盟库存</li>
            <li>代购触摸屏硬件设备，并负责安装培训</li>
            <li>提供联盟车源实时对接软件（免费）</li>
            <li>线下指导联盟合作销售管理（免费）</li>
          </ul>
        </div>
      </div>

      <div class="feature">
        <div class="box text left">
          <h2>
            <span>标准化运营管理</span>
            <span class="highlight">提升内部效率</span>
          </h2>
          <ul>
            <li>统一网销管理</li>
            <li>统一销售流程优化</li>
            <li>内部管控精细化提升</li>
          </ul>

          <h2><span class="highlight">车来客服务</span></h2>

          <ul>
            <li>派驻专家统一解决联盟门店的运营瓶颈问题，提升联盟车商运营效率</li>
            <li>标准化联盟门店运营流程，实现线下车商的可复制可转售，最终使得联盟门店具有统一对接资本市场或并购出售能力</li>
          </ul>
        </div>

        <div class="box image right">
          <img src="/assets/images/alliance/feature3.png" />
        </div>
      </div>

      <div class="feature">
        <div class="box image left">
          <img src="/assets/images/alliance/feature4.png" />
        </div>

        <div class="box text right">
          <h2>
            <span>统一对接资金资源</span>
            <span class="highlight">实现增值收益</span>
          </h2>
          <ul>
            <li>统一对接库存资金，降低经营成本</li>
            <li>统一对接金融、延保等各类行业资源，提升销售增值收益</li>
          </ul>

          <h2><span class="highlight">车来客服务</span></h2>

          <ul>
            <li>提供系统 POS 接口，统一刷交易流水，实现银行授信，统一对接资金平台</li>
            <li>免费软件帮助统一整合金融、延保等行业资源，提升二手车销售成交，提升增值业务收益</li>
          </ul>
        </div>
      </div>

      <div class="feature">
        <div class="box text left">
          <h2>
            <span>统一官网，蚂蚁雄兵自造流量</span>
            <span class="highlight">摆脱平台依赖</span>
          </h2>
          <ul>
            <li>零成本自建联盟官网，并自动库存实时同步</li>
            <li>蚂蚁雄兵自造网络流量，不再受制于互联网平台</li>
          </ul>

          <h2><span class="highlight">车来客服务</span></h2>

          <ul>
            <li>提供免费官网软件，帮组车商零成本自建联盟官网，并实现官网与库存实时同步</li>
            <li>通过专家现场指导或辅助运营，来整合车商已有线下门店资源，转为联盟官网自由流量，不自在受制于互联网平台</li>
          </ul>
        </div>

        <div class="box image right">
          <img src="/assets/images/alliance/feature5.png" />
        </div>
      </div>


    </div>
  </div>

  <div class="contact">
    <h2>联盟运营联系</h2>
    <div class="wrapper">
      <div class="text">
        <p class="tel">400-100-7676</p>
        <p>客服电话：18062033351</p>
        <p>客服微信：<img class="offset" src="/assets/images/service_contact.png" /></p>
        <p>合伙人微信：<img class="limit" src="/assets/images/alliance_contact.png" /></p>
      </div>
    </div>
  </div>
</div>

    {% include footer.html %}

  </body>

</html>
