<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html corporation="active" %}

<div id="corporation">
  <div class="hero">
    <img src="/assets/images/corporation/hero.png" />
  </div>

  <div class="features">
    <div class="types">
      <h2>合作类型</h2>
      <div class="item">
        <h3>售中合作</h3>
        <ul>
          <li>库存融资</li>
          <li>消费者按揭</li>
          <li>车辆保险</li>
          <li>二手车延保</li>
          <li>二手车整备</li>
          <li>汽车改装</li>
          <li>汽车配附件</li>
          <li>二手车检查认证</li>
        </ul>

        <h3>售后合作</h3>
        <ul>
          <li>保养</li>
          <li>洗车</li>
          <li>事故理赔维修</li>
          <li>常规维修</li>
          <li>二手车整备</li>
          <li>车辆年审</li>
          <li>道路救援</li>
          <li>用车咨询</li>
        </ul>

        <h3>其他合作</h3>
        <ul>
          <li>二手车第三方估值</li>
          <li>保养维系记录查询</li>
          <li>保险理赔记录查询</li>
          <li>违章抵押记录查询</li>
          <li>事故车信息查询</li>
          <li>二手车人才库</li>
        </ul>
      </div>
    </div>
    <div class="divider">
      <div class="line">
        <div class="circle first"></div>
        <div class="circle second"></div>
        <div class="circle third"></div>
      </div>
    </div>
    <div class="values">
      <h2>给您带来的价值</h2>
      <ul class="feature1">
        <li>为您降低线下运营推广成本<br/>提升线下运营效率</li>
        <li>帮您挖掘车商线下销售能力<br/>打造行业多方共赢</li>
      </ul>
      <img src="/assets/images/corporation/feature1.png" />

      <ul class="feature2">
        <li>让售后服务获得稳定获客渠道</li>
        <li>让车商实现一次性收入到反复性收入转型</li>
      </ul>
      <img src="/assets/images/corporation/feature2.png" />

      <ul class="feature3">
        <li>为您免除线下运营推广</li>
        <li>帮车商实现运营管理升级</li>
      </ul>
      <img src="/assets/images/corporation/feature3.png" />
    </div>
  </div>

  <div class="contact">
    <h2>资源合作联系</h2>
    <div class="wrapper">
      <div class="text">
        <p class="tel">180-6203-3351</p>
        <p>负责人电话：18062033351</p>
        <p>负责人微信：<img src="/assets/images/corporation_contact.jpeg" /></p>
      </div>
    </div>
  </div>
</div>

    {% include footer.html %}

  </body>

</html>
