---
layout: default
---

<div id="help">
  <div class="breadcrumbs">
    <a href="/">车来客</a> > 常见问题
  </div>
  <div class="content">
    <h2 id="download">1. 车来客在哪里下载</h2>
    <p>
      下载地址为：<a href="http://d.chelaike.com" target="_blank">d.chelaike.com</a>，
      电脑端使用地址为：<a href="http://pc.chelaike.com" target="_blank">pc.chelaike.com</a>。
    </p>

    <h2 id="signup">2. 如何注册车来客账号</h2>
    <ol>
      <li>
        电脑端打开 <a href="http://pc.chelaike.com" target="_blank">pc.chelaike.com</a>，点击注册账号，填写必要信息并提交；
      </li>
      <li>
        打开车来客APP，点击注册，填写必要信息后提交。
      </li>
    </ol>

    <h2 id="credit">3. 苹果手机安装后提示没有授信？</h2>
    <p>
      苹果手机授信方法：
    </p>
    <ol>
      <li>点开设置；</li>
      <li>点开通用；</li>
      <li>点开描述文件（ios9.2的话换成设备管理）；</li>
      <li>找到Nanjing Cloudtrend Network Technology co,LTD；</li>
      <li>验证“车来客”授信。</li>
    </ol>

    <h2 id="forgot">4. 注册后忘记密码怎么办？</h2>
    <p>
      在登录界面您能看到 找回密码 按钮，点击进入按照步骤提示就可以找回密码。
    </p>

    <h2 id="contract">5. 如何联系客服解决使用问题？</h2>
    <p>
      您可以拨打4001007676，也可以通过车来客公众号，联系客服解答或安排培训顾问上门培。
    </p>

    <h2>6. 怎么添加公司员工账号？</h2>
    <p>
      您用注册账号登录电脑端<a href="pc.chelaike.com" target="_blank">pc.chelaike.com</a>，系统管理-员工管理-新增员工 完成员工注册。
    </p>

    <h2>7. 如何把其他网站发布的车源导入到车来客中？</h2>
    <p>
      您登录电脑端车来客， 在在库车辆管理中 可以看到 车辆导入按钮，输入您在其他网站的 公司名称，系统搜索到后点击导入即可 （暂只支持二手车之家）。
    </p>

    <h2>8. 为什么有些功能别人有我没有？</h2>
    <p>
      电脑端车来客系统管理下的员工管理中，根据相对人的工作人员在后面编辑中可以匹配相对应的权限。每个人员权限不同，系统显示出来的功能就不同。
    </p>

    <h2>9. 如何和别的车商联盟？</h2>
    <p>
      手机端我的联盟中您可以新建一个联盟群邀请别的车商加入，或者别的车商邀请您进去他们的联盟群才可以车源共享。
    </p>

    <h2>10. 如何进行版本更新？</h2>
    <ol>
      <li>提示有新版本，直接点击下载更新；</li>
      <li>我的-设置-点击升级最新版本。</li>
    </ol>

    <h2>11. 如何添加在库车辆？</h2>
    <ol>
      <li>登录车来客APP，进入库存-在库车辆，点击右上角+，填写车辆信息后保存；</li>
      <li>登录车来客电脑端pc.chelaike.com，进入车辆管理-在库车辆，点击新增入库按钮，填写车辆信息后保存。</li>
    </ol>

    <h2>12. 如何申请定制个性化APP及网站？</h2>
    <p>
      联系客户电话4001007676，或者联系车来客地面人员。
    </p>

    <h2>13. 如何添加客户意向？</h2>
    <ol>
      <li>登录车来客APP，进入客户-日常管理，点击右上角+，选择添加求购意向或者出售意向，填写相关客户信息后提交；</li>
      <li>登录车来客电脑端pc.chelaike.com，进入客户管理-坐席录入，点击添加意向，选择求购或出售意向，填写相关客户信息后提交。</li>
    </ol>
  </div>
</div>
