<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html team="active" %}

<div id="team">
  <div class="hero">
    <img src="/assets/images/team/hero.png" />
  </div>

  <div class="pictures-wrapper">
    <div class="pictures">
      <div class="picture">
        <img src="/assets/images/team/team1.png" />
        <div class="description">他们常年奔波于全国各地车行展厅，为车商提供软件培训、业务咨询、互联网工具指导等服务。</div>
      </div>
      <div class="picture">
        <img src="/assets/images/team/team2.png" />
        <div class="description">组织线下培训，分享行业经验，传授服务技巧，他们凭借自身的专业和对行业的深入了解，从线下线上全方位支持二手车车商进行企业化流程管理，只为做二手车车商“背后的人”。</div>
      </div>
      <div class="picture">
        <img src="/assets/images/team/team3.png" />
        <div class="description">技术部的同事们集中讨论，解决开发过程中的各种问题。我们始终相信方法总是比困难多。</div>
      </div>
      <div class="picture">
        <img src="/assets/images/team/team4.png" />
        <div class="description">讨论时间，技术控们各抒己见，以实现最优的解决方案。</div>
      </div>
      <div class="picture">
        <img src="/assets/images/team/team5.png" />
        <div class="description">望这一路漫长，相信就是力量。</div>
      </div>
      <div class="picture">
        <img src="/assets/images/team/team6.png" />
        <div class="description">周末一起到海边烧烤游泳。</div>
      </div>
      <div class="picture">
        <img src="/assets/images/team/team7.png" />
        <div class="description">他们是一群有活力有能力的人，<br/>他们是一个死磕二手车行业的团队，<br/>这群有活力的年轻人与传统二手车行业的碰撞，望这一路漫长，相信就是力量。</div>
      </div>
    </div>
  </div>
</div>


    {% include footer.html %}

  </body>

</html>
