<div class="ui small modal">
  <div class="header"><%= @user.name %></div>
  <div class="content">
    <p style="word-wrap: break-word;">
      <%= @user.token %>
    </p>
  </div>
  <div class="actions">
    <div class="ui cancel button">关闭</div>
  </div>
</div>
