form {
	margin: 0;
	padding: 5px 20px 20px 20px;
}

form div {
	margin-bottom: 5px;
}

form div textarea {
	position: absolute;
	height: 100px;
	width: 260px;
	resize: none;
	margin-left: 1px;
}

form div input[type="text"],
form div input[type="password"] {
	width: 260px;
}

form div label {
	display: inline-block;
	text-align: left;
	width: 96px;
}