<% field_name = "insurance_record[claims_abstract][periods][]" %>
<div class="form-group">
  <div class="col-sm-10">
    <label class="col-sm-2 control-label">记录时间：</label>
    <div class="col-sm-4">
      <% date_value = period['start_date'].present? ? "#{period['start_date']} ~ #{period['end_date']}" : period["dates"] %>
      <%= form.text_field :dates, value: date_value, class: "form-control", name: "#{field_name}[dates]" %>
    </div>

    <label class="col-sm-2 control-label">事故次数(次)：</label>
    <div class="col-sm-4">
      <%= form.text_field :claims_count, value: "#{period['claims_count']}", class: "form-control", name: "#{field_name}[claims_count]" %>
    </div>
  </div>

  <div class="col-sm-2">
    <button type="button" class="btn btn-info delete-claim-abstract-btn">删除</button>
  </div>
</div>
