<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<!--密码加密器-->
	<bean id="pwdEncoder" class="com.ct.util.encrypt.Md5PwdEncoder">
		<property name="salt">
			<value>PONY</value>
		</property>
	</bean>

	<!--系统上下文信息PROVIDER-->
	<bean id="contextPvd" class="com.ct.erp.common.web.struts2.ContextPvdImpl" autowire="byName"/>
	
	<!--  中国移动短信发送器  -->
<!--	<bean id="messageService" class="com.ct.util.chinamobile.ChinaMobileMessageServiceImpl" />-->
		
	<!--  emay短信发送器  -->
	<bean id="emayMessageService" class="com.ct.msg.emay.KcbMessageServiceImpl" />
	<bean class="com.ct.erp.common.spring.SpringContextHolder"
		lazy-init="false" />
	<!-- 
	<bean id="smsOperateService" class="com.cloudtrend.erprocks.service.impl.SmsOperateServiceImpl" />
	
	<bean id="messageOperate" class="com.cloudtrend.erprocks.sms.MessageOperateImpl">
		<property name="controllerStrategy" ref="controllerStrategy"/>
	</bean>
	 -->
	<!-- 短信控制类  【true】开启会启动后台线程扫描队列 -->
	<!-- 
	<bean id="controllerStrategy" class="com.cloudtrend.erprocks.sms.MessageControllerStrategy">
     	<constructor-arg index="0">  
           <ref bean="smsOperateService" />
        </constructor-arg>  
        <constructor-arg index="1">  
            <value>false</value>  
        </constructor-arg>    		
	</bean>
	 -->
	<!-- 
	<bean id="saleSourceProcess" class="com.ct.erp.common.aop.diriver.impl.SaleSourceProcessImpl" scope="prototype"></bean>	
	<bean id="saleProcess" class="com.ct.erp.common.aop.diriver.impl.SaleProcessImpl" scope="prototype"></bean>	
	<bean id="acquSourceProcess" class="com.ct.erp.common.aop.diriver.impl.AcquSourceProcessImpl" scope="prototype"></bean>	
	
	<bean id="acquisitionProcess" class="com.ct.erp.common.aop.diriver.impl.AcquisitionProcessImpl" scope="prototype"></bean>
	<bean id="refundProcess" class="com.ct.erp.common.aop.diriver.impl.RefundProcessImpl" scope="prototype"></bean>
	<bean id="maintainProcess" class="com.ct.erp.common.aop.diriver.impl.MaintainProcessImpl" scope="prototype"></bean>
	<bean id="claimProcess" class="com.ct.erp.common.aop.diriver.impl.ClaimProcessImpl" scope="prototype"></bean>
	<bean id="orderChgPriceProcess" class="com.ct.erp.common.aop.diriver.impl.OrderChgPriceProcessImpl" scope="prototype"></bean>	 	
	<bean id="vehicleOperate" class="com.ct.erp.core.oper.VehicleOperateImpl" scope="prototype"></bean>	
	-->
	</beans>