.uploadButton {
  width: 250px;
  height: 150px;
  border: 1px dashed #d9d9d9;
  transition: border-color .3s ease;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  position: relative;

  &:hover {
    border-color: #57c5f7;
  }

  :global(.webuploader-pick) {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :global(.anticon-plus) {
    font-size: 30px;
    transition: all .3s ease;
    color: #ccc;
  }

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
  }

  .text {
    color: #666;
    margin-top: 10px;
  }
}
