.table {
  tr {
    th,
    td {
      padding-bottom: 0;
    }
  }
}

.accreditedRecord {
  span {
    display: inline-block;
    &:last-child {
      margin-left: 20px;
    }
  }
}

.button {
  font-size: 12px;
}

.color{
  display: inline-block;
  color:red;
  img{
    width:10px;
    height: auto;
  }
}
