.widget-user .widget-user-header {
  height: 70px;
  text-align: center;
}

.widget-user .box-footer {
  padding-top: 10px;
}

.import-reports {
  margin: 20px;
}

.comment {
  padding-top: 8px;
}

textarea.form-control {
  overflow: hidden;
  resize: none;
}

.mt-1 {
  margin-top: 1em;
}
